<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Charts - MT Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <link href="{{ url_for('static', filename='avologo.png') }}" rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">
    <div id="loader"></div>
    <nav class="sb-topnav navbar navbar-expand" style="background-image: linear-gradient(rgb(50 75 33),rgb(50 75 33));">
        <!-- Navbar Brand-->
        <a class="navbar-brand fw-bold text-center" style="color: rgb(226, 236, 139);">Admin</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars" style="color: rgb(226, 236, 139);"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="right" title="Log out"><a
                    href="{{url_for('Mhome')}}"><i class='fas fa-sign-out-alt'
                        style="color: rgb(226, 236, 139);"></i></a></li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion" id="sidenavAccordion" style="background-color: rgb(50 75 33);">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <a class="logo"><img src="{{ url_for('static', filename='avologo.png') }}" alt=""
                                class="img-fluid" style="max-width: 75%; max-height: 75%; margin-left: 25px;"></a>

                        <div class="sb-sidenav-menu-heading"></div>
                        <a class="nav-link" href="{{url_for('goto_administration_dash')}}" style="color: rgb(226, 236, 139);">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        <a class="nav-link" href="{{url_for('goto_admin_charts')}}" style="color: rgb(50 75 33); background-color: rgb(226, 236, 139);">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Statistics
                        </a>
                        </a>
                        <a class="nav-link" href="{{url_for('goto_admin_students')}}" style="color: rgb(226, 236, 139);">
                            <div class="sb-nav-link-icon"><i class="fas fa-address-card	"></i></div>
                            Students
                        </a>
                        <a class="nav-link" href="{{url_for('goto_admin_counselors')}}"
                            style="color: rgb(226, 236, 139);">
                            <div class="sb-nav-link-icon"><i class="fas fa-chalkboard-teacher"></i></div>
                            Counselors
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer" style="color: rgb(226, 236, 139);">
                    <div class="small">Logged in as:</div>
                    Admin
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main style="background-image: linear-gradient(rgb(144, 179, 89),rgb(144, 179, 89));">
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Statistics</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="{{url_for('goto_counselor_dash')}}"
                                style="text-decoration: none; color: rgb(226, 236, 139);">Dashboard</a></li>
                        <li class="breadcrumb-item active" style="text-decoration: none; color: rgb(226, 236, 139);">
                            Statistics</li>
                    </ol>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    Depression Summary
                                </div>
                                <div class="card-body"><canvas id="depressionChart" width="100" height="100"></canvas></div>
                                <div class="card-footer small text-muted"> {% if last_update_date %}
                                    Updated on {{ last_update_date.strftime('%b %d, %Y') }}
                                    {% else %}
                                    No data available
                                    {% endif %}</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    Anxiety Summary
                                </div>
                                <div class="card-body"><canvas id="anxietyChart" width="100" height="100"></canvas></div>
                                <div class="card-footer small text-muted"> {% if last_update_date %}
                                    Updated on {{ last_update_date.strftime('%b %d, %Y') }}
                                    {% else %}
                                    No data available
                                    {% endif %}</div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <i class="fas fa-chart-pie me-1"></i>
                                    Stress Summary
                                </div>
                                <div class="card-body"><canvas id="stressChart" width="100" height="100"></canvas></div>
                                <div class="card-footer small text-muted"> {% if last_update_date %}
                                    Updated on {{ last_update_date.strftime('%b %d, %Y') }}
                                    {% else %}
                                    No data available
                                    {% endif %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; MentalThrive 2023</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!--PIE CHART-->
    <script>
        var categorizedData = {{ data | tojson | safe }};
        
        // Extracting data
        var depressionData = categorizedData['Depression'];
        var anxietyData = categorizedData['Anxiety'];
        var stressData = categorizedData['Stress']
        
        generatePieChart('depressionChart', depressionData, 'Depression Summary');
        
        generatePieChart('anxietyChart', anxietyData, 'Anxiety Summary');

        generatePieChart('stressChart', stressData, 'Stress Summary');
        
        // Function to generate pie chart
        function generatePieChart(canvasId, data, title) {
            var labels = data.map(function (item) {
                return item.category;
            });
            
            var values = data.map(function (item) {
                return item.count;
            });
            
            var backgroundColors = [
            'rgb(0, 128, 0) ',
            'rgb(154, 205, 50)',
            'rgb(218, 165, 32)',
            'rgb(236, 83, 0)',
            'rgb(255, 0, 0)'
            ]; // You can customize this array as needed
            
            var ctx = document.getElementById(canvasId).getContext('2d');
            var pieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: labels,
                    datasets: [{
                        data: values,
                        backgroundColor: backgroundColors,
                    }]
                },
            });
        }
    </script>


    <script>window.addEventListener('resize', function () {
            myPieChart.resize();
        });</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
</body>

</html>