<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">


  <title>Reset Password</title>
  <!-- Favicons -->
  <link href="{{url_for('static', filename='avologo.png')}}" rel="icon">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Template Main CSS File -->
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}">

  <style>
    body {
      background-color: #f8f9fa;
    }

    .forgot-password-container {
      max-width: 400px;
      margin: 0 auto;
      margin-top: 100px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>

<body>
  <div id="loader"></div>
  <section class="h-100 h-custom" style="background-image: linear-gradient(rgb(144, 179, 89),rgb(144, 179, 89));">
    <div class="container pb-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3 shadow-lg bg-body rounded"
            style="background-image: linear-gradient(rgb(226, 236, 139),rgb(226, 236, 139));">
            <img src="{{url_for('static', filename='UILOGO2.png')}}" class="w-100"
              style="align-self: center; max-width: 75%; max-height: 75%;">
            <div class="card-body p-4 pb-5">

              <p class="fs-4 pb-2 pb-sm-0 mb-sm-5 px-sm-2 text-center text-muted fw-bold text-break">Student</br>Forgot Password</p>

              <form class="px-md-5" id="forgotPasswordForm" method="post">

                <div class="form-floating flex-fill mb-4">
                  <input type="email" class="form-control" id="email" name="email" placeholder="" required
                    autocomplete="off">
                  <label class="floatingInput">Email address</label>

                </div>

                <div class="col-sm-12 pt-4 text-center">
                  <button type="submit" class="btn btn-secondary btn-lg mb-1">Submit</button>
                </div>


              </form>

              <div class="mt-3 text-center">
                <a href="{{ url_for('goto_student_login') }}" class="text-muted" style="color: black;">Remembered your
                  password?<u> Login here.</u></a>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <script>
    var loader = document.getElementById("loader");
    window.addEventListener("load", function () {
      loader.style.display = "none";
    })
  </script>

  <!-- Bootstrap JS (optional) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>