<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include necessary headers -->
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>

                <th>Email</th>
                <th>Name</th>
                <th>Date</th>
                <th>Time</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
            <tr>
                <td>{{ session[0] }}</td>
                <td>{{ session[1] }}</td>
                <td>{{ session[2] }}</td>
                <td>{{ session[3] }}</td>
                <td>{{ session[4] }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
